.header-widget {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;

  width: 100vw;
  height: 42px;
  padding: 0 15px;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background: var(--top-bar-bg-color);

  aside{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    margin: 0 8px;
    font-weight: bold;

    color: var(--primary-text-color);
  }

  h3 {
    font-weight: bold;
  }

  .theme-switch{
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s;
    margin-left: 10px;
    &:hover{
      background-color: var(--theme-hover-color);
    }

  }

  .theme-icon{
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 22px;
  }
}
